body.scroll-lock {
  position: fixed;
  overflow-y: hidden;
}

modal-dialog {

  > button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    color: var(--color-text);
  }

  & dialog {
    display: none;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: auto 0;
    width: 100vw;
    max-width: 100%;
    max-height: 100dvh;
    color: var(--color-text);
    background: var(--color-background);
    opacity: var(--opacity-transparent);
    transition: opacity var(--transition-medium) var(--easing-inout);

    &::backdrop {
      backdrop-filter: blur(0);
      transition: backdrop-filter var(--transition-medium) var(--easing-inout);
      background: color-mix(in srgb, var(--color-gray-50) 50%, transparent);
    }
  }

  & dialog[open] {
    display: flex;
    opacity: var(--opacity-solid);

    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0 0 0 var(--space-l);

      > h2 {
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-bold);
        margin: var(--space-xs) 0;
      }
    
      .close {
        border: 0;
        background: none;
        cursor: pointer;
        font-size: var(--font-size-l);
        margin: var(--space-m);
        padding: 0 var(--space-s);
        color: var(--color-primary);
        border-radius: var(--space-xxs);
        box-sizing: border-box;
    
        &:hover {
          color: var(--color-primary-hover);
        }
    
        &:active {
          color: var(--color-primary-active);
        }
      }
    }

    & form[method="dialog"] {
      padding: 0 var(--space-l) 0;
    }

    &::backdrop {
      backdrop-filter: blur(1rem);
    }
  }
}

@media (min-width: 48em) {

  modal-dialog dialog[open] {
    width: 80vw;
    min-width: 48em;
    max-height: calc(100dvh - 2rem);
    border-radius: var(--space-s);
    box-shadow: 0 0 var(--space-s) rgb(0 0 0 / 50%);
    margin: auto auto;
  }
}