login-form {
	display: block;
	container-type: inline-size;

	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-m);
		justify-content: space-between;
	}

	.hidden {
		display: none;
	}
}

@container (width > 40rem) {

	login-form form {
		flex-direction: row;
		align-items: flex-end;
	}
}