todo-app {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);

	& footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		gap: var(--space-m);
		margin: 0;
  
		.clear-completed {
			justify-self: end;
		}
	}
}

todo-count {
	justify-self: start;
	
	& p {
		font-size: var(--font-size-s);
		margin: 0;
	}
}