show-appreciation {
  display: inline-block;

  button {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    border: 1px solid var(--color-border);
    border-radius: var(--space-xs);
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: var(--space-xs) var(--space-s);
    cursor: pointer;
    font-size: var(--font-size-m);
    line-height: var(--line-height-xs);
    transition: transform var(--transition-short) var(--easing-inout);

    &:hover {
      background-color: var(--color-secondary-hover);
    }

    &:active {
      background-color: var(--color-secondary-active);

      .emoji {
        transform: scale(1.1);
      }
    }
  }
}