todo-form {
	display: block;
	container-type: inline-size;

	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-m);
		justify-content: space-between;
	}
}

@container (width > 32rem) {
	todo-form form {
		flex-direction: row;
		align-items: flex-end;
	}
}