input-password {
  flex-grow: 1;

  &:focus-within {

    label {
      opacity: var(--opacity-solid);
    }
  }

  label {
    opacity: var(--opacity-dimmed);
    transition: opacity var(--transition-short) var(--easing-inout);
  }

  label {
    display: block;
    font-size: var(--font-size-s);
    color: var(--color-text);
    margin-bottom: var(--space-xxs);
  }

  input {
    display: inline-block;
    box-sizing: border-box;
    background: var(--color-input);
    color: var(--color-text);
    border: 0;
    border-bottom: 1px solid var(--color-border);
    padding: var(--space-xs);
    font-size: var(--font-size-m);
    line-height: var(--line-height-xs);
    height: var(--input-height);
    width: 100%;
  }
}