:root {
  --container-max-width: 72rem;
  --section-max-width: 48rem;

  --space-xxs: 0.236rem;
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;

  --font-size-xs: clamp(0.75rem, 0.125vw + 0.725rem, 0.7813rem);
  --font-size-s: clamp(0.875rem, 0.25vw + 0.825rem, 0.9375rem);
  --font-size-m: clamp(1rem, 0.5vw + 0.9rem, 1.125rem);
  --font-size-l: clamp(1.125rem, 0.75vw + 0.975rem, 1.3125rem);
  --font-size-xl: clamp(1.3125rem, 1vw + 1.1125rem, 1.5625rem);
  --font-size-xxl: clamp(1.5rem, 1.5vw + 1.2rem, 1.875rem);
  --font-size-xxxl: clamp(1.75rem, 2vw + 1.35rem, 2.25rem);

  --line-height-xs: 1;
  --line-height-s: 1.2;
  --line-height-m: 1.414;
  --line-height-l: 1.618;

  --color-white: white;
  --color-gray-10: oklch(95.43% 0 0); /* #f0f0f0 */
  --color-gray-20: oklch(90.11% 0 0); /* #dedede */
  --color-gray-30: oklch(83.91% 0 0); /* #cacaca */
  --color-gray-40: oklch(76.68% 0 0); /* #b3b3b3 */
  --color-gray-50: oklch(68.25% 0 0); /* #999999 */
  --color-gray-60: oklch(58.43% 0 0); /* #7b7b7b */
  --color-gray-70: oklch(46.99% 0 0); /* #5b5b5b */
  --color-gray-80: oklch(33.65% 0 0); /* #373737 */
  --color-gray-90: oklch(18.11% 0 0); /* #121212 */  
  --color-black: black;

  --color-persianblue-10: oklch(88.88% 0.0449 265); /* #ccdbf9 */
  --color-persianblue-20: oklch(78.03% 0.104 265); /* #97b6fb */
  --color-persianblue-30: oklch(67.44% 0.1639 265); /* #6491fb */
  --color-persianblue-40: oklch(57.1% 0.2085 265); /* #396af0 */
  --color-persianblue-50: oklch(47% 0.225 265); /* #1a45d6 */
  --color-persianblue-60: oklch(37.14% 0.2085 265); /* #0926ab */
  --color-persianblue-70: oklch(27.52% 0.1639 265); /* #031276 */
  --color-persianblue-80: oklch(18.13% 0.104 265); /* #01073f */
  --color-persianblue-90: oklch(8.95% 0.0449 265); /* #00010f */

  --color-crimson-10: oklch(92.34% 0.0449 25); /* #ffdbd7 */
  --color-crimson-20: oklch(84.24% 0.104 25); /* #ffb1a9 */
  --color-crimson-30: oklch(75.67% 0.1639 25); /* #ff817a */
  --color-crimson-40: oklch(66.6% 0.2085 25); /* #fa4e4e */
  --color-crimson-50: oklch(57% 0.225 25); /* #dd1128 */
  --color-crimson-60: oklch(46.85% 0.2085 25); /* #b2000d */
  --color-crimson-70: oklch(36.11% 0.1639 25); /* #7e0004 */
  --color-crimson-80: oklch(24.74% 0.104 25); /* #470004 */
  --color-crimson-90: oklch(12.72% 0.0449 25); /* #150101 */

  --color-malachite-10: oklch(95.13% 0.0449 145); /* #ddf7dd */
  --color-malachite-20: oklch(89.51% 0.104 145); /* #b1efb2 */
  --color-malachite-30: oklch(83.04% 0.1639 145); /* #7de382 */
  --color-malachite-40: oklch(75.59% 0.2085 145); /* #3fd051 */
  --color-malachite-50: oklch(67% 0.225 145); /* #00b623 */
  --color-malachite-60: oklch(57.11% 0.2085 145); /* #009400 */
  --color-malachite-70: oklch(45.7% 0.1639 145); /* #006d02 */
  --color-malachite-80: oklch(32.57% 0.104 145); /* #00410a */
  --color-malachite-90: oklch(17.44% 0.0449 145); /* #031504 */

  --color-cerulean-10: oklch(95.43% 0.0299 225); /* #dcf5ff */
  --color-cerulean-20: oklch(90.11% 0.0693 225); /* #ade9ff */
  --color-cerulean-30: oklch(83.91% 0.1093 225); /* #73d9ff */
  --color-cerulean-40: oklch(76.68% 0.139 225); /* #24c5f5 */
  --color-cerulean-50: oklch(68.25% 0.15 225); /* #00aade */
  --color-cerulean-60: oklch(58.43% 0.139 225); /* #008bb9 */
  --color-cerulean-70: oklch(46.99% 0.1093 225); /* #006688 */
  --color-cerulean-80: oklch(33.65% 0.0693 225); /* #003e52 */
  --color-cerulean-90: oklch(18.11% 0.0299 225); /* #02141c */
  
  --color-primary: var(--color-persianblue-50);
  --color-primary-hover: var(--color-persianblue-60);
  --color-primary-active: var(--color-persianblue-70);
  --color-secondary: var(--color-gray-20);
  --color-secondary-hover: var(--color-gray-30);
  --color-secondary-active: var(--color-gray-40);
  --color-selection: var(--color-cerulean-50);
  --color-error: var(--color-crimson-50);
  --color-error-hover: var(--color-crimson-60);
  --color-error-active: var(--color-crimson-70);
  --color-success: var(--color-malachite-50);
  --color-success-hover: var(--color-malachite-60);
  --color-success-active: var(--color-malachite-70);

  --color-input: var(--color-white);
  --color-background: var(--color-gray-10);
  --color-background-alt: var(--color-gray-20);
  --color-border: var(--color-gray-50);
  --color-text: var(--color-black);
  --color-text-soft: var(--color-gray-80);
  --color-text-inverted: var(--color-white);

  --font-family-sans: 'Helvetica Neue', Arial, Roboto, sans-serif;
  --font-family-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --opacity-transparent: 0;
  --opacity-translucent: 0.4;
  --opacity-dimmed: 0.8;
  --opacity-solid: 1;

  --transition-shorter: 0.08s;
  --transition-short: 0.2s;
  --transition-medium: 0.5s;
  --transition-long: 1.25s;

  --easing-linear: linear;
  --easing-in: ease-in;
  --easing-out: ease-out;
  --easing-inout: ease-in-out;

  --input-height: 2rem;
}

@media screen and (min-width: 45em) and (max-width: 75em) {
  :root {
    --font-size-xs: clamp(0.7813rem, 0.1042vw + 0.7344rem, 0.8125rem);
    --font-size-s: clamp(0.9375rem, 0.2083vw + 0.8438rem, 1rem);
    --font-size-m: clamp(1.125rem, 0.4167vw + 0.9375rem, 1.25rem);
    --font-size-l: clamp(1.3125rem, 0.8333vw + 0.9375rem, 1.5625rem);
    --font-size-xl: clamp(1.5625rem, 1.4583vw + 0.9063rem, 2rem);
    --font-size-xxl: clamp(1.875rem, 2.0833vw + 0.9375rem, 2.5rem);
    --font-size-xxxl: clamp(2.25rem, 2.9167vw + 0.9375rem, 3.125rem);
  }
}

@media screen and (min-width: 75em) and (max-width: 125em) {
  :root {
    --font-size-xs: clamp(0.8125rem, 0.0694vw + 0.7604rem, 0.8438rem);
    --font-size-s: clamp(1rem, 0.2778vw + 0.7917rem, 1.125rem);
    --font-size-m: clamp(1.25rem, 0.5556vw + 0.8333rem, 1.5rem);
    --font-size-l: clamp(1.5625rem, 0.9722vw + 0.8333rem, 2rem);
    --font-size-xl: clamp(2rem, 1.8056vw + 0.6458rem, 2.8125rem);
    --font-size-xxl: clamp(2.5rem, 2.7778vw + 0.4167rem, 3.75rem);
    --font-size-xxxl: clamp(3.125rem, 4.1667vw, 5rem);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-input: var(--color-black);
    --color-background: var(--color-gray-90);
    --color-background-alt: var(--color-gray-80);
    --color-primary: var(--color-persianblue-40);
    --color-primary-hover: var(--color-persianblue-30);
    --color-primary-active: var(--color-persianblue-20);
    --color-secondary: var(--color-gray-80);
    --color-secondary-hover: var(--color-gray-70);
    --color-secondary-active: var(--color-gray-60);
    --color-error: var(--color-crimson-40);
    --color-error-hover: var(--color-crimson-30);
    --color-error-active: var(--color-crimson-20);
    --color-success: var(--color-malachite-40);
    --color-success-hover: var(--color-malachite-30);
    --color-success-active: var(--color-malachite-20);
    --color-text: var(--color-white);
    --color-text-soft: var(--color-gray-20);
    --color-text-inverted: var(--color-black);
  }

}

@media (prefers-reduced-transparency) {
  :root {
    --opacity-translucent: 0.7;
    --opacity-dimmed: 0.9;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var(--font-family-sans);
  scroll-padding-top: var(--space-xl);
  scroll-behavior: smooth;
}

body {
  padding: var(--space-m) var(--space-l);
  margin: 0;
  line-height: inherit;
  color: var(--color-text);
  background: var(--color-background);
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 var(--space-xxs) 2px var(--color-selection);
}

::selection {
  background-color: color-mix(in srgb, var(--color-selection) 50%, transparent);
}

header,
main,
footer {
  margin: 0 auto;
  max-width: var(--container-max-width);
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xs);
}
h2 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-s);
}
h3 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-s);
}
h4 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
}
h5 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}
h6 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

p,
li,
dt,
dd,
input {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}
th,
td,
pre,
small {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-s) var(--space-m);

  dt {
    font-weight: var(--font-weight-bold);
    color: var(--color-text-soft);
  }

  dd {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
table,
section pre[class*="language-"] {
  margin: 0 0 var(--space-l);
}

li {
  margin: 0 0 var(--space-m);
}

p code,
li code,
dt code,
dd code,
td code {
  background-color: var(--color-background-alt);
  border-radius: var(--space-xxs);
  padding: var(--space-xxs);
  font-family: var(--font-family-mono);
  font-size: calc(0.95 * var(--font-size-m));
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-hover);
  }

  &:active {
    color: var(--color-primary-active);
  }
}
  
/* Helper classes */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Story context */

.docs-story {
  color: var(--color-text);
  background: var(--color-background);
}

#root-inner {
  container-type: inline-size;
}