color-editor {
  display: flex;
  gap: var(--space-l);
  align-items: flex-start;

  .editor {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  & color-graph,
  & color-slider {
    display: block;
  }

  .scale {
    display: flex;
    align-items: flex-start;
    gap: var(--space-l);
    margin-top: var(--space-s);
  }

  & color-scale {
    flex-grow: 0;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    flex-grow: 1;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;

    & li {
      margin: 0;
      padding: 0;
    }
  }
}