color-slider {
  --color-base: transparent;
  --color-border: black;
  --knob-size: 2rem;
  --slider-width: 400px;
  --slider-height: 48px;
  --track-width: 360px;
  --track-height: 8px;
  --track-offset: 20px;

  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: var(--slider-height);
  background-color: var(--color-background-alt);
  user-select: none;

  & canvas {
    width: calc(100% - 2 * var(--track-offset));
    height: var(--track-height);
    margin: var(--track-offset);
    user-select: none;
  }

  .thumb {
    position: absolute;
    top: calc(var(--slider-height) / 2);
    left: var(--track-offset);
    width: var(--knob-size);
    height: var(--knob-size);
    background-color: var(--color-base);
    box-sizing: border-box;
    border: 2px solid var(--color-border);
    border-radius: 50%;
    cursor: ew-resize;
    user-select: none;
    touch-action: none;
    transform: translate(calc(var(--knob-size) / -2), calc(var(--knob-size) / -2));
  }
  
  .thumb span {
    display: inline-block;
    font-size: var(--font-size-xs);
    background: rgba(0 0 0 / var(--opacity-dimmed));
    color: white;
    position: absolute;
    top: calc(-1 * var(--knob-size));
    left: calc(0.5 * var(--knob-size) - 2px);
    transform: translateX(-50%);
    padding: var(--space-xxs);
    border-radius: var(--space-xxs);
    margin-bottom: var(--space-xs);
  }
  
  .thumb span:before {
    position: absolute;
    bottom: calc(-1 * var(--space-xs));
    left: calc(50% - var(--space-xs));
    content: '';
    width: 0;
    height: 0;
    border: var(--space-xs) solid transparent;
    border-bottom-width: 0;
    border-top-color: rgba(0 0 0 / var(--opacity-dimmed));
  }
}