todo-list {
	display: block;

	& ol {
		display: flex;
		flex-direction: column;
		gap: var(--space-m);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& li {
		display: flex;
		justify-content: space-between;
		gap: var(--space-m);
		margin: 0;
		padding: 0;
	}

	&[filter="completed"] {
        li:not(:has([checked])) {
            display: none;
        }
    }

    &[filter="active"] {
        li:has([checked]) {
            display: none;
        }
    }
}